/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.event a {
  background-color: #B22222 !important;
  color: #ffffff !important;
}

.normal a {
  background-color: #f6f6f6 !important;
  color: #454545 !important;
}
    
.parent {
  display: flex;
}

.narrow {
  width: auto;
}

#container3{
  width: auto;
  height: 300px;
  margin: 0 auto
}

#booking_result{
  border: 1px solid #c5c5c5;
  margin: 10px;
  padding: 10px;
}

.wide {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}